# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.tfstate.lock.info
terraform.tfvars
*.auto.tfvars

# Docker
*.log

# Env / secrets
.env
.env.local
